In [11]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/market-price.csv", header=None, 
            names = ["date", "price"])

In [28]:
df.shape[0]

365

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
date     365 non-null object
price    365 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [17]:
df.dtypes

date      object
price    float64
dtype: object

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.head()

                  date   price
0  2016-04-18 00:00:00  427.28
1  2016-04-19 00:00:00  435.91
2  2016-04-20 00:00:00  442.34
3  2016-04-21 00:00:00  451.00
4  2016-04-22 00:00:00  447.25

In [20]:
df.sample(10)

                    date        price
38   2016-05-26 00:00:00   452.490000
180  2016-10-15 00:00:00   637.949857
331  2017-03-15 00:00:00  1257.399625
315  2017-02-27 00:00:00  1190.751950
210  2016-11-14 00:00:00   706.467875
355  2017-04-08 00:00:00  1181.149838
114  2016-08-10 00:00:00   592.189900
94   2016-07-21 00:00:00   664.882075
357  2017-04-10 00:00:00  1207.744875
61   2016-06-18 00:00:00   754.366250

In [22]:
type(df["price"])

pandas.core.series.Series

In [23]:
df["price"].min()

427.27999999999997

In [24]:
df["price"].max()

1285.1400000000001

In [25]:
df["price"].mean(), df["price"].median()

(756.44382290280498, 676.3294375)

In [29]:
df[10:15]

                   date   price
10  2016-04-28 00:00:00  450.00
11  2016-04-29 00:00:00  456.16
12  2016-04-30 00:00:00  447.17
13  2016-05-01 00:00:00  451.90
14  2016-05-02 00:00:00  443.90

In [31]:
df[["price", "date"]]

           price                 date
0     427.280000  2016-04-18 00:00:00
1     435.910000  2016-04-19 00:00:00
2     442.340000  2016-04-20 00:00:00
3     451.000000  2016-04-21 00:00:00
4     447.250000  2016-04-22 00:00:00
5     451.290000  2016-04-23 00:00:00
6     459.400000  2016-04-24 00:00:00
7     463.860000  2016-04-25 00:00:00
8     467.980000  2016-04-26 00:00:00
9     447.310000  2016-04-27 00:00:00
10    450.000000  2016-04-28 00:00:00
11    456.160000  2016-04-29 00:00:00
12    447.170000  2016-04-30 00:00:00
13    451.900000  2016-05-01 00:00:00
14    443.900000  2016-05-02 00:00:00
15    450.960000  2016-05-03 00:00:00
16    447.370000  2016-05-04 00:00:00
17    448.510000  2016-05-05 00:00:00
18    460.910000  2016-05-06 00:00:00
19    459.040000  2016-05-07 00:00:00
20    457.820000  2016-05-08 00:00:00
21    461.630000  2016-05-09 00:00:00
22    450.000000  2016-05-10 00:00:00
23    452.510000  2016-05-11 00:00:00
24    454.700000  2016-05-12 00:00:00
25    456.820000  2016-05-13 00:00:00
26    455.650000  2016-05-14 00:00:00
27    457.080000  2016-05-15 00:00:00
28    454.880000  2016-05-16 00:00:00
29    452.890000  2016-05-17 00:00:00
..           ...                  ...
335  1029.800812  2017-03-19 00:00:00
336  1049.084488  2017-03-20 00:00:00
337  1118.630043  2017-03-21 00:00:00
338  1028.726862  2017-03-22 00:00:00
339  1038.789000  2017-03-23 00:00:00
340   941.919714  2017-03-24 00:00:00
341   959.340086  2017-03-25 00:00:00
342   956.786313  2017-03-26 00:00:00
343  1037.229250  2017-03-27 00:00:00
344  1046.127625  2017-03-28 00:00:00
345  1040.575500  2017-03-29 00:00:00
346  1037.904550  2017-03-30 00:00:00
347  1079.549314  2017-03-31 00:00:00
348  1086.929571  2017-04-01 00:00:00
349  1099.169125  2017-04-02 00:00:00
350  1141.813000  2017-04-03 00:00:00
351  1141.600363  2017-04-04 00:00:00
352  1133.079314  2017-04-05 00:00:00
353  1196.307937  2017-04-06 00:00:00
354  1190.454250  2017-04-07 00:00:00
355  1181.149838  2017-04-08 00:00:00
356  1208.800500  2017-04-09 00:00:00
357  1207.744875  2017-04-10 00:00:00
358  1226.617037  2017-04-11 00:00:00
359  1218.922050  2017-04-12 00:00:00
360  1180.023713  2017-04-13 00:00:00
361  1185.260057  2017-04-14 00:00:00
362  1184.880671  2017-04-15 00:00:00
363  1186.927412  2017-04-16 00:00:00
364  1205.634875  2017-04-17 00:00:00

[365 rows x 2 columns]

In [36]:
df.iloc[10:15, 0:2]

                   date   price
10  2016-04-28 00:00:00  450.00
11  2016-04-29 00:00:00  456.16
12  2016-04-30 00:00:00  447.17
13  2016-05-01 00:00:00  451.90
14  2016-05-02 00:00:00  443.90